/* 页脚 */
footer{
    border-top:6px solid #f60 ;
    position:relative;
}

.footer_1{
    height:75px;
    background-color: #f2f2f2;
  padding-top:25px;
}

.footer_1 img{
    margin-right:52px;
    margin-left:44px;
}

.footer_2{
    margin-top:30px;
    width:681px;
    position:relative;
    
}
.footer_2 ul{
    text-align:center;
    margin-right:30px;
    width:100px;
    text-align:center;
    line-height:30px;

}

.footer_2 ul a{
    color:#4d4d4d;
}

.footer_2 ul li:first-child a{
    color:#4d4d4d;
    font-size:16px;
    font-weight:bold;
}
.footer_2 img{
    position:absolute;
    top:40px;
    right:-170px;
}


.footer_3{

    margin-top:35px;
}
.footer_3 a{

  margin:0 10px 0 0px ;
}

.footer_4{
    
    margin-top:18px;
    margin-bottom:100px;
}
